@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:wght@700&family=Kanit:wght@300&display=swap');

html{
  background-color:#202020;
}

h2{
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  margin-left: 50px;
  color: white;
  
}

.header{
  border:0px;
  border-bottom: 5px groove white;

}

#firstrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

input::placeholder{
  font-size: 15px;
}

#firstrow label{
  text-align:center;
  font-size: 22px;
  font-family: 'Crimson Text', serif;
  width: 180px;
  margin: 10px;
  color: white;

}

#secondrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#secondrow label{
  text-align:center;
  font-size: 22px;
  font-family: 'Crimson Text', serif;
  width: 180px;
  color: white;

  
}

#thirdrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#thirdrow label{
  text-align:center;
  font-size: 22px;
  font-family: 'Crimson Text', serif;
  width: 180px;
  color: white;

}

#lastrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#lastrow label{
  text-align:center;
  font-size: 22px;
  font-family: 'Crimson Text', serif;
  width: 180px;
  color: white;

  
}

#firstrow input {
  width: 150px;
  height: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  border-radius: 5px;
}

#secondrow input {
  width: 150px;
  height: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  border-radius: 5px;

}

#thirdrow input {
  width: 150px;
  height: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  border-radius: 5px;

}

#lastrow input {
  width: 300px;
  height: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  border-radius: 5px;

}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buttons button{
  width: 110px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background-color: #1269ff;
  color: white;
  border-width: 0px;
}

#buttons #resbtn{
  background-color: #ff1846;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#disInfo{
  width: 700px;
  height: 800px;
}

#hidden0{
  position: absolute;
  margin-top: 175px;
  margin-left: 140px;
  width:200px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden1{
  position: absolute;
  margin-top: 175px;
  margin-left: 470px;
  width:190px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;

}

#hidden2{
  position: absolute;
  margin-top: 245px;
  margin-left: 140px;
  width:130px;
  height: 18px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden3{
  position: absolute;
  margin-top: 290px;
  margin-left: 70px;
  width: 390px;
  height: 16px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden4{
  position: absolute;
  margin-top: 330px;
  margin-left: 130px;
  width:270px;
  height: 16px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden5{
  position: absolute;
  margin-top: 375px;
  margin-left: 110px;
  width:180px;
  height: 16px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden6{
  position: absolute;
  margin-top: 415px;
  margin-left: 380px;
  height: 18px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden7{
  position: absolute;
  margin-top: 455px;
  margin-left: 230px;
  height: 18px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden8{
  position: absolute;
  margin-top: 500px;
  margin-left: 380px;
  height: 18px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden9{
  position: absolute;
  margin-top: 660px;
  margin-left: 80px;
  width: 130px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden10{
  position: absolute;
  margin-top: 660px;
  margin-left: 260px;
  width: 60px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden11{
  position: absolute;
  margin-top: 660px;
  margin-left: 355px;
  width: 40px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden12{
  position: absolute;
  margin-top: 660px;
  margin-left: 420px;
  width: 50px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden13{
  position: absolute;
  margin-top: 660px;
  margin-left: 560px;
  width: 70px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden14{
  position: absolute;
  margin-top: 715px;
  margin-left: 120px;
  width: 500px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

#hidden15{
  position: absolute;
  margin-top: 760px;
  margin-left: 120px;
  width: 500px;
  height: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: transparent;
  border:0px;
  text-align: center;
}

